.about {
    label {
        padding-bottom: 5px;
    }
    .about-content {
        max-width: 500px;
        max-height: 1000px;
        word-wrap: break-word;
    }
    .settings {
        max-height: 1000px;
        height: 500px;
    }
}