.vscode/*

/obj/*

/Backend-Shopping/.vs/*

/Backend-Shopping/bin/*

/Backend-Shopping/obj/*

/Backend-Shopping/Api/bin/*
/Backend-Shopping/Api/obj/*
/Backend-Shopping/Api/appsettings.Development.json

/Backend-Shopping/DataService/bin/*
/Backend-Shopping/DataService/obj/*

/Backend-Shopping/Shared/bin/*
/Backend-Shopping/Shared/obj/*

/Frontend-Shopping/.angular/*
/Admin/.angular/*

/Frontend-Shopping/.vscode/*

/Backend-Shopping/Storage/*
.vercel
