<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button (click)="resetForm()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create">
               Create Setting
            </button>
            <h4 class="text-center my-3">SETTINGS</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Privacy Policy</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let setting of settings">
                        <td>{{setting.id}}</td>
                        <td>{{setting.privacyPolicy}}</td>
                        <td class="d-flex justify-content-between align-items-center">
                            <span class="settings">
                                <button type="button" (click)="getSelectedSetting(setting)" data-bs-toggle="modal"
                                    data-bs-target="#create" class="btn btn-warning text-white">
                               Update
                                </button>
                                <button (click)="remove(setting.id)" class="btn btn-danger ms-2">
                                    Delete
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>


<div class="modal fade category" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{formControls['id'].value?"Update Setting":"Create Setting"}}
                </h5>
                <button id="close-add" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label>Privacy Policy
                            <span class="text-danger">*</span></label>
                        <input name="privacyPolicy" formControlName="privacyPolicy" type="text" class="form-control"
                            placeholder="Privacy Policy">
                        <div *ngIf="submitted && formControls['privacyPolicy'].errors" class="text-danger">
                            <div *ngIf="formControls['privacyPolicy'].errors['required']">Cannot be empty</div>
                        </div>
                    </div>
                    <div class="form-group pt-2">
                        <label>Order<span class="text-danger">*</span></label>
                        <input name="order" formControlName="order" type="number" class="form-control"
                            placeholder="Order">
                            <div *ngIf="submitted && formControls['order'].errors" class="text-danger">
                                <div *ngIf="formControls['order'].errors['required']">Order cannot be empty</div>
                            </div>
                    </div>
      
                    <button type="submit" class="btn btn-success my-3 w-100">{{formControls['id'].value?"Update":"Create"}}</button>
                </form>
            </div>
        </div>
    </div>
</div>