.active {
    a {
        background-color: #3c4b64;
        border-color: #3c4b64;
        color: white;
    }

    a:hover {
        color: white !important;
    }
  
}  .page-link {color: #3c4b64;}