<section id="gender-selection">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-6 p-0">
        <a [routerLink]="['/department/',1]">
          <div class="gender-item">
            <a class="btn btn-2 gender-button">DISCOVER</a>
            <img src="./assets/images/home/men.webp" width="100%" height="100%" alt="">
          </div>
        </a>
      </div>
      <div class="col-lg-6 p-0">
        <a [routerLink]="['/department/',2]">
          <div class="gender-item">
            <a class="btn btn-2 gender-button">DISCOVER</a>
            <img src="./assets/images/home/woman.webp" width="100%" height="100%" alt="">
          </div>
        </a>


      </div>
    </div>
  </div>
</section>