#brands {
    margin-block: 100px;
    .brand-img {
        img {
            height: 100%;
            width: 100%;
        }
        max-width: 228.16px;
        max-height: 127.64px;
    }
}

@media only screen and (max-width: 768px) {
  #brands {
 margin-top: 180px;
 margin-bottom: 40px;
    }
}